body {
    font-family: 'mono';
    color: white;
    background-color:black
}

.event-log{
    overflow-y:hidden;
    max-height: 300px;
    height: 300px;
    padding-top: 40px;
}

.delay{
    text-align: center;
    padding-top: 60px
}

#chart{
    padding-top: 20px;
    padding-left:40px;
}

ul {
  list-style-type: none;
}